<%= form_for(@micropost, html: { multipart: true }) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class='field'>
    <%= f.text_area :content, placeholder: "Compose new micropost... " %>
  </div>
  <%= f.submit "Post", class: "btn btn-lg btn-primary btn-block" %>
  <span class="media">
    <%= f.file_field :media, accept: 'image/jpg, image/jpeg, image/gif, image/png, video/mp4, video/mov' %>
  </span>
<% end %>


<script type="text/javascript">
	$('#micropost_media').bind('change', function(){
		var size_in_megabytes = this.file[0].size/1024/1024;
		if (size_in_megabytes > 20) {
			alert("Maximum file size is 5MB. Please choose a smaller file")
		}
	});
</script>