<li id="micropost-<%= micropost.id %>">
  <%= link_to image_tag(micropost.user.profile_img.url, class: "gravatar"), micropost.user %>
  <span class="user"><%= link_to micropost.user.name, micropost.user %></span>
  <span class="content">
  	<%= micropost.content %>
  	<%= image_tag micropost.media.url, class: :micropost__img if micropost.has_image? %>
    <%= video_tag micropost.media.url, class: :micropost__video, controls: true, preload: :none if micropost.has_video? %>
  </span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
    	<%= link_to "delete", micropost, method: :delete, data: {confirm: "You sure?"} %>
  	<% end %>
  </span>

</li>