<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application',
                                           'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag 'mobile', 'data-turbolinks-track' => true if mobile_device?  %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= render 'layouts/meta' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="<%= if mobile_device? then 'container-fluid' else 'container' end %>">
      <% flash.each do |message_type, message| %>
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
      <% end %>
      <%= yield %>
      <%= render 'layouts/footer' %>
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>